@import "boxicons/css/boxicons.min.css";

@tailwind base;
@tailwind components;
@tailwind utilities;
html, body {
    width: 100%;
    height: 100%;
}

h1, h2, h3, h4, h5, h6, p, span, div {
    color: white;
}

body {
    font-family: Consolas, monaco, monospace;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 60px 0;
}

